<h4><center><font color="1F4690">PJJ PENGOLAHAN DATA MENGGUNAKAN PYTHON <br> <br> Selasa, 14 Juni 2022</font></center></h4>
<div class="alert alert-info"><h1 align="center"><font color="1F4690">Pemrograman Python (Part 1)</font></h4></div>

# 1. Objek
Setiap objek memiliki **TIPE** tipe ini menentukan nilai yang bisa dimilikinya. Tipenya berupa skalar atau non skalar.

### Scalar
objek yang tidak dapat dipecah-pecah (indivisible)
* **int** untuk merepresentasikan bilang bulat, misalkan -123, 0, 28000, 1000500, etc.
* **float** untuk merepresentasikan bilangan riil, misalkan 0.43, 2005.34, 12.25, etc.
* **bool** untuk merepresentasikan nilai True atau False
* **string** untuk merepresentasikan karakter
* **none** untuk merepresentasikan ketiadaan nilai

### Nonscalar
objek dengan struktur internal.</br>
Contoh: </br>
lists, tuples, strings, instances of classes etc.

In [1]:
# Kita dapat melakukan cek ke tipe dari suatu data menggunakan fungsi type()
a=23
type(23)

b='Ajaccio'
type(b)

c=234.56
type(c)

float

In [2]:
angka=78000000000000
type(angka)

int

In [ ]:
uang=12.45
type(uang)

float

$2.3*10^{-7}$

In [ ]:
uk_bakteri=2.3e-7
uk_bakteri

2.3e-07

In [ ]:
type(uk_bakteri)

float

In [ ]:
uk_bakteri=2.3e-7
uk_bakteri
type(uk_bakteri)

float

In [ ]:
umur=32
umur

32

In [ ]:
nama="Joseph R Biden"
type(nama)

str

In [ ]:
hal_1=True
type(hal_1)

bool

In [ ]:
hal_2="true"
type(hal_2)

str

> Objek dan operator dapat dikombinasikan untuk menghasilkan ekspresi.

# 2. Operator

1. Operator standar  +, -, *
2. Operator sisa hasil bagi **%**
3. Operator perpangkatan ******
4. Operator pembanding
* $==$(sama dengan),
* $! =$(tidak sama dengan),
* $<$(kurang dari),
* $>$(lebih besar dari),
* $<=$(kurang dari atau sama dengan),
* $>=$(lebih dari atau sama dengan).

> Ingat! tidak ada operator **<>** di PYTHON!

In [ ]:
756-235

521

In [ ]:
#integer dengan float
#(Casting - python langsung mengubah integer menjadi float tanpa harus disuruh)
456-345.21

110.79000000000002

In [ ]:
ghi=345.21
ghi

345.21

In [ ]:
234.98-123.12

111.85999999999999

In [ ]:
1/3

0.3333333333333333

In [ ]:
75*21.34

1600.5

In [ ]:
kataku="MINUM"
7*kataku

'MINUMMINUMMINUMMINUMMINUMMINUMMINUM'

In [ ]:
# penjumlahan antar string
katamu="MAKAN"
kataku+katamu

'MINUMMAKAN'

In [ ]:
5>6

False

In [ ]:
4>=4
# artinya 4 > 4(SALAH) atau 4=4 (BENAR) --- logika matematis pVq,
# salahVbenar --- benar

True

In [ ]:
# perbandingan string, dibandingkan dengan melihat urutan alfabetis
'g'<'m'

True

In [ ]:
'lurus'>'tinggi' #--> 'l'>'t'

False

In [ ]:
5**3

125

In [ ]:
# tidak bisa memangkatkan string
'makan'**3

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

## 2.1. Operator Pembagian

Terdapat dua operator untuk pembagian yakni **(/)** dan **(//)**.</br>
**1. Pembagian Bilangan Bulat - sisa pembagian tidak dianggap.** </br>
**Contoh :**
* 16//2 akan menghasilkan 8  
* 17//7 akan menghasilkan 2

**2. Pembagian Bilangan Real** </br>
**Contoh :**
* 16/2 akan menghasilkan 8
* 17/7 akan menghasilkan 2.4285714285714284

In [ ]:
print('Hasil dari 16/2 adalah', 16/2)
print('Hasil dari 16/2 adalah', 17/7)
print('Hasil dari 17/3 adalah', 17/3)

Hasil dari 16/2 adalah 8.0
Hasil dari 16/2 adalah 2.4285714285714284
Hasil dari 17/3 adalah 5.666666666666667

In [ ]:
print('Hasil dari 16//2 adalah', 16//2)
print('Hasil dari 16//2 adalah', 17//7)
print('Hasil dari 17//3 adalah', 17//3)

Hasil dari 16//2 adalah 8
Hasil dari 16//2 adalah 2
Hasil dari 17//3 adalah 5

## 2.2 Operator Inkremental

Operator untuk melakukan penjumlahan **(+=)**, pengurangan**(-=)**, pembagian**(/=)**, perkalian **(*=)** secara inkremental. </br>
Contoh :</br>
* $A=+1$ sama artinya dengan $A=A+1$
* $umur=-2$ sama artinya dengan $umur=umur-2$

In [ ]:
tas=3
tas=tas+1
tas

4

In [ ]:
tas=3
tas+=125
tas

128

## 2.3. Operator Modulo (Sisa Hasil Bagi)

> $a \mod b \equiv c$

Di dalam perhitungan pecahan dengan hasil yang tidak bulat kita akan menemukan sisa pembagian. </br>
Misalkan 31 roti dibagi tiga orang- masing-masing akan mendapatkan 9 roti dan sisa 4 roti : </br>
$\frac{31}{3}=9\frac{4}{3}$

| NOTASI MATEMATIS              | BAHASA\_INDONESIA     | NOTASI PYTHON |
| :---------------------------- | :-------------------- | :-----------: |
| $$31 \mod 3 \equiv 4$$        | 31 dibagi 3 sisa 4    | 31%3          |
| $$16 \mod 2 \equiv 0$$        | 16 dibagi 2 sisa 0    | 16%2          |
| $$100 \mod 37 \equiv 26$$     | 100 dibagi 37 sisa 26 | 100%37        |

In [ ]:
###----TESTING
print(12%2)
print(13%2)

0
1

> **Command/Statement** - menginstruksikan interpreter untuk melakukan sesuatu.

In [ ]:
# Sekumpulan command/statement
print ('Why did the British tea maker deliver the tea packages himself even though he was sick? ')
print ('He was trying to fulfill his due-tea.')
print ('=========================================================================================')
print ('If a British person is too relaxed during tea time', 'they can get injured or die.')
print ('One should avoid a casual -tea as much as possible.')
# interpreter akan menghasilkan output sebagai berikut.

Why did the British tea maker deliver the tea packages himself even though he was sick?
He was trying to fulfill his due-tea.
=========================================================================================
If a British person is too relaxed during tea time they can get injured or die.
One should avoid a casual -tea as much as possible.

# 3. Variabel dan Penugasan

> Variable merupakan suatu lokasi dimana kita menyimpan data.

In [ ]:
#--------Deklarasi Variabel pada Bahasa Pemrograman C#---------------
#string name = "John";
#int myNum = 15;
#Console.WriteLine(name);
#Console.WriteLine(myNum);

![Variable is Variable](https://starecat.com/content/wp-content/uploads/c-plus-plus-can-not-compare-float-and-int-python-variable-is-variable.jpg)

Python tidak memiliki perintah tersendiri untuk mendeklarasikan variabel. Variabel tercipta di saat sebuah nilai ditugaskan pada variabel tersebut.

In [ ]:
#--------Variabel pada Python---------------
heyTayo = 'Ada bebek 10 di kali 2 jadi berapa?'
heyToyo = 8
heyTayo, heyToyo

('Ada bebek 10 di kali 2 jadi berapa?', 8)

## 3.1. Aturan penulisan variabel :

1. Nama suatu variabel harus dimulai dengan HURUF atau GARISBAWAH.
2. Nama variabel hanya boleh mengandung karakter ALFANUMERIK dan GARIS BAWAH
3. Nama variabel menganut kepekaan kapital (case sensitivity). </br>
umurBapak, umuRbapak, UmurBapak, UMURBAPAK adalah empat variabel yang berbeda satu sama lain

In [ ]:
Yes="kode panggil"
yes="kode panggil"
id(Yes)

2215113409648

In [ ]:
id(yes)

2215113410736

### Cara Penulisan Variabel

* **Camel Case** - semua suku kata menyatu, awalan kata-kata dimulai dengan huruf kapital kecuali kata pertama. </br>
Contoh: alamatRumah, nomorKodePos, namaDepan
</br>
</br>
* **Pascal Case** - semua suku kata menyatu, awalan kata-kata dimulai dengan huruf kapital kecuali kata pertama.</br>
Contoh: AlamatRumah, NomorKodePos, NamaDepan
</br>
</br>
* **Snake Case** - suku kata dipisahkan dengan garis bawah, kata disusun dengan huruf kecil semua atau hurufbesar semua.</br>
Contoh: alamat_rumah, NOMOR_KODE_POS, nama_depan

## 3.2. Melakukan Perbaruan atas Nilai Variable

In [ ]:
jarakJktSby = 800
id(jarakJktSby)

2143612061808

In [ ]:
jarakJktSby = 812
id(jarakJktSby)

2143612061520

In [ ]:
jarakJktSby

812

## 3.3. Multi Asssignment

In [ ]:
umurAyah,umurIbu,umurKakak,umurSaya,umurAdik=40,38,16,14,12

In [ ]:
umurKakak

16

## 3.4. Konversi Tipe

### Konversi Implisit

Python melakukan konversi data dari satu tipe ke tipe lain secara otomatis.

In [ ]:
num_int = 123
num_flo = 1.23
num_new = num_int + num_flo

print("Tipe Data num_int:",type(num_int))
print("Tipe Data of num_flo:",type(num_flo))
print("Tipe Data setelah penjumlahan:",type(num_new))

Tipe Data num_int: <class 'int'>
Tipe Data of num_flo: <class 'float'>
Tipe Data setelah penjumlahan: <class 'float'>

### Konversi Eksplisit (Typecasting)

User mengubah konversi tipe data dari tipe data awal ke tipe data yang diinginkan. Untuk melakukan hal ini, dengan fungsi awal `int()`, `float()`, `str()`.

In [ ]:
# int variable
var_char1 = '5'
print ('Tipe data saat ini', type(var_char1))

# typecast to float
var_float1 = float(var_char1)
print ('Tipe setelah konversi', type(var_float1))

# typecast to int
var_int1 = float(var_float1)
print ('Tipe setelah konversi', type(var_int1))

Tipe data saat ini <class 'str'>
Tipe setelah konversi <class 'float'>
Tipe setelah konversi <class 'float'>

In [ ]:
nilaiA=80
nilaiA_str=str(nilaiA)
nilaiA_str

'80'

In [ ]:
nilaiB='589'
nilaiB_int=int(nilaiB)
nilaiB_int

589

## Meminta User Memasukkan Masukan

In [ ]:
hey=int(input())

345

In [ ]:
type(hey)

int

# 4. Komentar dan Docstring

Komentar di python dapat dibuat dengan mengawali suatu baris dengan tanda tagar **(#)**.
Komentar dapat dibuat untuk membuat kode lebih dapat dibaca dan juga dapat digunakan sebagai alat bantu untuk mengeksekusi dalam melakukan pengetesan kode.

Petik tiga (triple quotes) sesuai dengan Python documentation merupakan `docstrings` dan tidak dianggap komentar. Apapun didalam petik tiga akan dibaca oleh interpreter. Python's triple quotes comes to the rescue by allowing strings to span multiple lines, including verbatim NEWLINEs, TABs, and any other special characters.
Similarly, single triple quotes can also be used for the same purpose as shown below:

In [ ]:
# KOMENTAR

# KOMENTAR INI DIBUAT DALAM
# BEBERAPA BARIS
# JADI KALAU MAU BUAT BEBERAPA BARIS, TAGARNYA DI SETIAP BARIS YA


a= """Ini adalah suatu
docstring yang digunakan untuk memfasilitasi
adanya string di beberapa baris. Ingat, ini bukan komentar.
Di sini, kita bisa juga masukkan spesial karakter seperti % $ & tanpa masalah"""
print(a)

Ini adalah suatu
docstring yang digunakan untuk memfasilitasi
adanya string di beberapa baris. Ingat, ini bukan komentar.
Di sini, kita bisa juga masukkan spesial karakter seperti % $ & tanpa masalah

In [ ]:
teks="""dia akan pergi
ke Jakarta"""
teks

'dia akan pergi\nke Jakarta'

# 5. Operasi String

![Indexing](https://raw.githubusercontent.com/ansyaku/asset/main/indexing.jpg)

### Notasi Indexing

$[start:stop:step]$

## 5.1 Slicing String

In [ ]:
word1='MISANTROPHE'
len(word1)

11

In [ ]:
print('Dua Huruf Pertama------', word1[0:2])
print('Tiga Huruf Pertama------', word1[:3])
print('Selain Tiga Huruf Terakhir------', word1[:-3])
print('Huruf Ketiga sampai Huruf Kelima------', word1[2:5])

Dua Huruf Pertama------ MI
Tiga Huruf Pertama------ MIS
Selain Tiga Huruf Terakhir------ MISANTRO
Huruf Ketiga sampai Huruf Kelima------ SAN

## 5.2 Menemukan Sesuatu di String

In [ ]:
word2="HATI-HATI DI JALAN"
'DI' in word2

True

In [ ]:
word2.find('')

0

## 5.3 Mengganti Sesuatu di String

In [ ]:
word3 = word2.replace("A", "E")
print(word3)

HETI-HETI DI JELEN

## 5.4 Format Operators

Format operator **(%d)**, **(%s)**, etc.

In [ ]:
psrt_dklat= 40
print('Ada %d peserta di diklat ini.' %psrt_dklat)
print("Nama saya %s usia saya %d tahun!" % ('SYAFEEER', 21))

Ada 40 peserta di diklat ini.
Nama saya SYAFEEER usia saya 21 tahun!

In [ ]:
jam_masuk=7
print('Di tempat kami jam %d adalah jam masuk %d kantor.' %(jam_masuk, jam_masuk))

Di tempat kami jam 7 adalah jam masuk 7 kantor.

In [ ]:
jam_masuk

7

# 6. Pengandaian

`if`, `elif`, `else`

`elif` opsi opsi lainnya
`else` opsi terakhir

In [ ]:
angka=int(input("Kuy masukkan angkamu: "))

Kuy masukkan angkamu: 98

In [ ]:
if angka%2==1:
    print("Angka",angka,"adalah angka ganjil")



print("Terimakasih, kamu sudah selesai periksa angka.",
      "\n Mohon maaf kalau angkamu tidak ganjil keluarannya gak ada ya!")

Terimakasih, kamu sudah selesai periksa angka.
 Mohon maaf kalau angkamu tidak ganjil keluarannya gak ada ya!

In [ ]:
if angka%2==1:
    print("Angka",angka,"adalah angka ganjil")
else:
    print("Angka",angka,"adalah angka genap")

Angka 98 adalah angka genap

### ====================Notes====================================
1. Pernyataaan setelah `if`, `elif` atau `else` harus diakhiri dengan tanda titik dua (:)
2. Dalam satu paket `if - elif - else`, susunannya selalu segaris. </br>Jika tidak segaris maka bukanlah struktur utama dari pengandaian tersebut.
3. Selalu terdapat **4 spasi indentasi** antara `if - elif - else` dengan konsekuensinya.

In [ ]:
angka2=int(input("Kuy masukkan angka pertamamu: "))

Kuy masukkan angka pertamamu: 65

In [ ]:
angka3=int(input("Kuy masukkan angka keduamu: "))

Kuy masukkan angka keduamu: 89

In [ ]:
if angka2 > angka3:
    print(angka2, 'LEBIH BESAR DARI',angka3 )
elif angka2 < angka3:
    print(angka2, 'LEBIH KECIL DARI',angka3 )
else:
    print(angka2, 'SAMA DENGAN',angka3 )

65 LEBIH KECIL DARI 89

>> " Jangan lupa bahwa operator **=** adalah untuk penugasan. Untuk perbandingan gunakan operator perbandingan **==** "

=====================================================
# TUGAS UNTUK ASYNCHRONOUS 1
=====================================================

## Tugas 1

Buatlah sebuah program yang mendapatkan angka menit dari user. Kemudian program akan melakukan perhitungan dan menghasilkan keluaran berupa jam dan menit sisanya bila ada.

**Contoh keluaran bila input dari user 121:<br>**
Hours</br>
2</br>
Minutes</br>
1</br>

## Tugas 2

Berikut adalah suatu string
**str = ’X-DSPAM-Confidence:0.8475’**</br>
Gunakan 'find' dan 'string slicing' untuk mengekstrak porsi dari karakter setelah tanda kolon, kemudian gunakan ubahlah menjadi data float.

In [12]:
def convert_minutes(menit:int):
  print(f"Hours\n{round(menit/60)}\nMinutes\n{menit%60}")

In [13]:
angka_menit = int(input("input menit : "))

convert_minutes(angka_menit)

input menit : 321
Hours
5
Minutes
21

In [14]:
str_data = 'X-DSPAM-Confidence:0.8475'

float(str_data.split(':')[1])

0.8475

## 6.1 Pengandaian Singkat

**KONSEKUENSI 1** `if` **PENGANDAIAN 1** `else` **KONSEKUENSI 2**

In [ ]:
## Bila saya sudah makan maka perut kenyang, jika tidak maka saya masih lapar

kondisi = 'Sudah Makan'

print('Perut Kenyang') if kondisi =='Sudah Makan' else 'Masih Lapar'

Perut Kenyang

In [ ]:
if kondisi == "Sudah Makan":
    print('Perut Kenyang')
else:
    print('Masih Lapar')

Perut Kenyang

# 7. Perulangan (Iterasi)

## 7.1. while Loops

digunakan bila kita tidak tahu berapa kali perulangan akan dilakukan.

In [ ]:
counter = 0
while (counter<5):
    counter = counter+1
    print('Ini adalah hasil iterasi ke-',counter)

Ini adalah hasil iterasi ke- 1
Ini adalah hasil iterasi ke- 2
Ini adalah hasil iterasi ke- 3
Ini adalah hasil iterasi ke- 4
Ini adalah hasil iterasi ke- 5

## 7.2. for Loops
digunakan bila kita tahu berapa kali perulangan akan dilakukan. Digunakan pada suatu sequence (string, tuple, list, set, etc).

In [ ]:
kaunter=5
for kaunter in range(0,kaunter):
    print('Ini adalah hasil iterasi ke-', kaunter)

In [ ]:
angka5=6567
angka6=str(angka5)
for i in angka6:
    print(i)

6
5
6
7

In [ ]:
str2="MOTOR HONDA MATIC"
for i in str2:
    print(i)

M
O
T
O
R

H
O
N
D
A

M
A
T
I
C

In [ ]:
var3=7
while var3>0 :
    var3=var3+1

## 7.3. Continue statement

Apabila ketemu dengan suatu syarat, maka nilai ekspresi pada syarat itu tidak di evaluasi, evaluasi dilanjutkan langsung ke nilai berikutnya.

In [ ]:
for nilaiA in range(5):
    if nilaiA == 3:
        continue
    print('Nilai saat ini', nilaiA)

Nilai saat ini 0
Nilai saat ini 1
Nilai saat ini 2
Nilai saat ini 4

## 7.4. Break Statement
Apabila ketemu dengan suatu syarat, maka evaluasi dihentikan.

In [ ]:
for nilaiB in range(5):
    if nilaiB == 3:
        break
    print('Nilai saat ini', nilaiB)

print('Nilai terakhir hanya sampai', nilaiB)

Nilai saat ini 0
Nilai saat ini 1
Nilai saat ini 2
Nilai terakhir hanya sampai 3

## 7.5. Pass Statement
Apabila ketemu dengan suatu syarat, maka evaluasi dilanjutkan

In [ ]:
for nilaiB in range(5):
    if nilaiB == 3:
        pass
        print('Di sini ada pass')
    print('Nilai saat ini', nilaiB)

Nilai saat ini 0
Nilai saat ini 1
Nilai saat ini 2
Di sini ada pass
Nilai saat ini 3
Nilai saat ini 4

# 8. Fungsi
## 8.1 Build in Function

Python memiliki fungsi-fungsi yang sudah didefinisikan sendiri oleh pembuat bahasa python. Seperti,
`max()`, `round()`, `len()`, `sum()`.

In [ ]:
print(max(123,8856, 21, 4, 756, 22))
print(len('Honorificabilitudinitatibus'))

8856
27

### 8.2 User Defined Function

User dapat membuat sendiri fungsi di python sesuai dengan yang diinginkannya. Untuk membuat fungsi kita menggunakan reserved word `def`.
Bentuk umum dari UDF :
```python
def NAMA_FUNGSI (PARAMETER_1,PARAMETER_2, ...,PARAMETER_N):
    ALGORITMA_FUNGSI
```

In [ ]:
def hitung_luas_lingkaran(jejari):
    luas=22/7*jejari**2
    return luas
print ("Luas Lingkaran", hitung_luas_lingkaran(33))

Luas Lingkaran 3422.5714285714284

In [ ]:
def hitung_luas_lingkaran2(jejari2, pi=3.14):
    luas2=pi*jejari2
    return luas2
print ("Luas Lingkaran", hitung_luas_lingkaran2(5))

Luas Lingkaran 15.700000000000001

In [ ]:
def hitung_volume_balok(p,l,t):
    volume=p*l*t
    return volume
print ("Volume Balok", hitung_volume_balok(5,6,8))

Volume Balok 240

#### Unpacking operator **(*)**
digunakan untuk menerima masukan parameter sebanyak mungkin

In [ ]:
def rata_rata(*gui):
    tot = 0
    for a in gui:
        tot += a
    return tot/len(gui)

In [ ]:
print('Hasil rata-rata-1:', rata_rata(1,545,678,32,89,357,777,82,34,47))
print('Hasil rata-rata-2:', rata_rata(23,55,45))
print('Hasil rata-rata-3:', rata_rata(-11, -22, 89, 77))

Hasil rata-rata-1: 264.2
Hasil rata-rata-2: 41.0
Hasil rata-rata-3: 33.25

## 8.3 Ekspresi Lambda

Python memfasilitasi pembuatan fungsi anonimus, tanpa harus memberikan nama dengan `lambda`. Fungsi lambda hanya boleh mengandung satu ekspresi. Bentuk umum dari ekspresi lambda adalah sebagai berikut :</br>
`lambda arguments: expression`

In [ ]:
hrg_akhir= lambda hrg_jual, pdiskon, ongkir : hrg_jual-(hrg_jual*pdiskon)+ongkir
print(hrg_akhir(50000,0.05,10000))

57500.0

In [ ]:
nama_singkat = lambda n_depan, n_tengah, n_belakang

# Daftar Referensi :
=============================================================================================
1. Bell, Anna. 2018. **Get Programming Learn to Code With Python**. Manning
2. Deitel, Paul and Deitel, Harvey. 2020. **Intro to Python for Computer Science and Data Science 3rd Edition**. Pearson Education
3. Guttag, John V. 2021. **Introduction to Computation and Programming Using Python**. MIT Press
4. Shaw, Zed.A. 2018. **Learn More Python 3 The Hard Way**. Addison-Weasley
5. Severance, Charles. 2009. **Exploring Python 3**. Ann Arbor

=====================================================
# TUGAS UNTUK ASYNCHRONOUS 2
=====================================================

## Latihan 3:
Banyaknya hari dalam satu bulan bervariasi dari 28 hingga 31. Buatlah program yang memasukkan
nama bulan dari user (string). Kemudian program harus melakukan perhitungan jumlah hari dalam bulan tersebut.
Untuk bulan februari keluaran berupa string **“28 atau 29 hari”** agar berlaku juga untuk bulan kabisat.

## Latihan 4:

Skala Richter
Magnitude Descriptor
Less than 2.0 Micro
2.0 to less than 3.0 Very Minor
3.0 to less than 4.0 Minor
4.0 to less than 5.0 Light
5.0 to less than 6.0 Moderate
6.0 to less than 7.0 Strong
7.0 to less than 8.0 Major
8.0 to less than 10.0 Great
10.0 or more Meteoric

* Buatlah program yang membaca besarnya magnitude dari user dan memberikan keluaran terkait grade dari kekuatan gempa.
* Contoh keluaran :
  **'Gempa berskala 5,5 berkategori Moderat'**  
  

## Latihan 5:
* Buatlah script yang menerima input berupa lima digit angka dari user.</br>
* Pisahkan angka menjadi digit indivual. Print secara terpisah dengan separator berupa tiga spasi
* Contoh: Jika user memasukkan 42339, maka hasil print</br>
4   2   3   3   9</br>
* Asumsikan bahwa user selalu menginput angka dalam panjang yang tepat.
* Use both the floor division and remainder operations to “pick off ” each digit.

## Latihan 6:
Sebuah bilangan palindrom adalah angka yang jika dibaca dari depan kebelakang sama. Contoh:
12321, 55555, 45554 and 11611.
Tulislah sebuah program yang membaca lima digit bilangan bulat untuk menentukan apakah mereka palindrome atau bukan.
[Hint: Use the // and % operators to separate the number into its digits.]


## Latihan 7 :
Konversi derajat celcius ke fahrenheit diatur oleh persamaan berikut :
$F = (\frac{9}{5}) * C + 32$
Gunakan fungsi ini untuk memprint suatu daftar konversi temperatur dari celcius untuk range 0–100.
Gunakan presisi 1 digit.

## Latihan 8 :
Pak Joni memiliki rencana untuk membeli sebuah rumah, tetapi sayangnya dia tidak punya banyak uang. Dia berencana untuk membeli tetapi dengan cicilan ke bank saja. Namun, sayangnya lagi-lagi untuk membayar DP pinjaman bankpun ia tidak punya. Oleh karena itu, dia berencana untuk menabung setiap bulan agar bisa membayar DP. Tugas anda : tentukan berapa lama dia harus menabung agar dia bisa membayar cicilan rumah tersebut.
1.	Mintalah pak joni untuk membuat harga perkiraan rumah yang dia inginkan simpan pada variable, total_cost.
2.	Biasanya untuk DP rumah, bank akan mensyaratkan pembayaran DP sebesar 25%, simpan pada variabel portion_down_payment = 0.25.
3.	Tanyakan pak joni berapa uang yang sudah dia punya selama ini yang dicadangkan untuk membayar DP, simpan pada variable current_savings nilai defaultnya boleh anda set 0.
4.	Asumsikan bahwa pak joni menginvestasikan tabungan dengan bijak, sehingga memperoleh bunga 5 % per tahun.
5.	Simpan gaji tahunan pak joni dalam variabel annual_salary.
6.	Tanyakan pak Joni persen dari gaji pak joni yang dia sisishkan untuk menabung simpan pada variable portion_saved. Variabel ini berbentuk decimal (contoh 0.1 untuk persentase 10%).
7.	Pada akhir tiap bulan bulan, tabungan anda akan meningkat sesuai dengan besarnya investasi  ditambah dengan porsi gaji yang ditabungkan (gaji tahunan/ 12).

In [21]:
bulan = {
    'Januari' : 31,
    'Februari' : '28 atau 29 hari',
    'Maret' : 31,
    'April' : 30,
    'Mei' : 31,
    'Juni' : 30,
    'Juli' : 31,
    'Agustus' : 31,
    'September' : 30,
    'Oktober' : 31,
    'November' : 30,
    'Desember' : 31
}

In [31]:
nama_bulan = str(input('Nama bulan :'))

if nama_bulan in bulan:
  print(bulan.get(nama_bulan))
else:
  print('Input nama bulan tidak ada')

Nama bulan :Februari
28 atau 29 hari

In [42]:
skala_gempa = {
    "Micro" : (0.00 , 2.00),
    "Very Minor" : (2.00, 3.00),
    "Minor" : (3.00, 4.00),
    "Light" : (4.00,5.00),
    "Moderate" : (5.00, 6.00),
    "Strong" : (6.00, 7.00),
    "Major" : (7.00, 8.00),
    "Great" : (8.00, 9.00),
    "Meteoric" : (9.00, 100.00)
}

for key, (start, end) in skala_gempa.items():
  print(key, start, end)

Micro 0.0 2.0
Very Minor 2.0 3.0
Minor 3.0 4.0
Light 4.0 5.0
Moderate 5.0 6.0
Strong 6.0 7.0
Major 7.0 8.0
Great 8.0 9.0
Meteoric 9.0 100.0

In [48]:
gempa = float(input("Skala gempa yang terjadi :"))

for key, (start, end) in skala_gempa.items():
  if start <= gempa <= end:
    print(f'Gempa terjadi dengan skala {gempa} dengan kategori {key}')

Skala gempa yang terjadi :2.9
Gempa terjadi dengan skala 2.9 dengan kategori Very Minor

In [55]:
input_string_angka = str(input("Input angka :"))

print("  ".join([angka for angka in input_string_angka]))

Input angka :213654897
2  1  3  6  5  4  8  9  7

In [57]:
input_bilangan = str(input("Palindrom bilangan :"))

if input_bilangan == input_bilangan[::-1]:
  print('Palindrom')
else:
  print('Bukan Palindrom')

Palindrom bilangan :1335331
Palindrom

In [ ]:
import pandas as pd

convert_to_fahrenheit = lambda x : round((x*(9/5) + 32), 2)


tabel_konversi_temperatur = pd.DataFrame()
for x in range(0,100):
  row_data = [[x, (convert_to_fahrenheit(x))]]
  df = pd.DataFrame(row_data)
  tabel_konversi_temperatur = pd.concat([tabel_konversi_temperatur, df])

tabel_konversi_temperatur.columns = ['Celcius', 'Fahrenheit']
tabel_konversi_temperatur.head(10)

In [48]:
harga_rumah = 600000000
uang_muka = 0.25 * harga_rumah
tabungan = 0
bunga_tabungan = 0.06
gaji_tahunan = 240000000
gaji_ditabung = 0.2
bunga_bulanan = bunga_tabungan / 12
bulan_nabung = 0

while tabungan < uang_muka:
  tabungan_bulanan = (gaji_tahunan / 12) * gaji_ditabung
  tabungan += (tabungan * bunga_bulanan) + tabungan_bulanan
  bulan_nabung += 1
  print(f'Tabungan bulan ke-{bulan_nabung} sebesar {tabungan:,.2f}')

Tabungan bulan ke-1 sebesar 4,000,000.00
Tabungan bulan ke-2 sebesar 8,020,000.00
Tabungan bulan ke-3 sebesar 12,060,100.00
Tabungan bulan ke-4 sebesar 16,120,400.50
Tabungan bulan ke-5 sebesar 20,201,002.50
Tabungan bulan ke-6 sebesar 24,302,007.52
Tabungan bulan ke-7 sebesar 28,423,517.55
Tabungan bulan ke-8 sebesar 32,565,635.14
Tabungan bulan ke-9 sebesar 36,728,463.32
Tabungan bulan ke-10 sebesar 40,912,105.63
Tabungan bulan ke-11 sebesar 45,116,666.16
Tabungan bulan ke-12 sebesar 49,342,249.49
Tabungan bulan ke-13 sebesar 53,588,960.74
Tabungan bulan ke-14 sebesar 57,856,905.54
Tabungan bulan ke-15 sebesar 62,146,190.07
Tabungan bulan ke-16 sebesar 66,456,921.02
Tabungan bulan ke-17 sebesar 70,789,205.63
Tabungan bulan ke-18 sebesar 75,143,151.65
Tabungan bulan ke-19 sebesar 79,518,867.41
Tabungan bulan ke-20 sebesar 83,916,461.75
Tabungan bulan ke-21 sebesar 88,336,044.06
Tabungan bulan ke-22 sebesar 92,777,724.28
Tabungan bulan ke-23 sebesar 97,241,612.90
Tabungan bulan ke-24 sebesar 101,727,820.96
Tabungan bulan ke-25 sebesar 106,236,460.07
Tabungan bulan ke-26 sebesar 110,767,642.37
Tabungan bulan ke-27 sebesar 115,321,480.58
Tabungan bulan ke-28 sebesar 119,898,087.98
Tabungan bulan ke-29 sebesar 124,497,578.42
Tabungan bulan ke-30 sebesar 129,120,066.32
Tabungan bulan ke-31 sebesar 133,765,666.65
Tabungan bulan ke-32 sebesar 138,434,494.98
Tabungan bulan ke-33 sebesar 143,126,667.46
Tabungan bulan ke-34 sebesar 147,842,300.79
Tabungan bulan ke-35 sebesar 152,581,512.30

## Pengayaan
Write a program that converts a binary (base 2) number to decimal (base 10). Your
program should begin by reading the binary number from the user as a string. Then
it should compute the equivalent decimal number by processing each digit in the
binary number. Finally, your program should display the equivalent decimal number
with an appropriate message.