<h4><center><font color="1F4690">PJJ PENGOLAHAN DATA MENGGUNAKAN PYTHON <br> <br> Rabu, 15 Juni 2022</font></center></h4>
<div class="alert alert-info"><h1 align="center"><font color="1F4690">Latihan Pagi Hari</font></h4></div>

## Latihan 1
***

At the halfway point during the Rio Olympics, the United States had 70 medals, Great Britain had 38 medals, China had 45 medals, Russia had 30 medals, and Germany had 17 medals. Create a dictionary assigned to the variable **medal_count** with the country names as the keys and the number of medals the country had as each key’s value

In [1]:
medal_count = {
    "United States" : 70,
    "Great Britain" : 38,
    "China" : 45,
    "Rusia" : 30,
    "Germany" : 17
}

## Latihan 2
***
Given the dictionary swimmers, add an additional key-value pair to the dictionary with "Phelps" as the key and the integer 23 as the value. Do not rewrite the entire dictionary.

In [2]:
swimmers = {'Manuel':4, 'Lochte':12, 'Adrian':7, 'Ledecky':5, 'Dirado':4}

In [4]:
swimmers['Phelps'] = 23
swimmers

{'Manuel': 4,
 'Lochte': 12,
 'Adrian': 7,
 'Ledecky': 5,
 'Dirado': 4,
 'Phelps': 23}

## Latihan 3
***

Write code that combines the following variables so that the sentence “You are doing a great job, keep it up!” is assigned to the **variable** message. Do not edit the values assigned to by, az, io, or qy.

In [5]:
by = "You are"
az = "doing a great "
io = "job"
qy = "keep it up!"

In [6]:
message = " ".join([by, az, io, qy])
print(message)

You are doing a great  job keep it up!

## Latihan 4
***

Add the string “hockey” as a key to the dictionary sports_periods and assign it the value of 3. Do not rewrite the entire dictionary.

In [7]:
sports_periods = {'baseball': 9, 'basketball': 4, 'soccer': 4, 'cricket': 2}

In [8]:
sports_periods['hockey'] = 3
sports_periods

{'baseball': 9, 'basketball': 4, 'soccer': 4, 'cricket': 2, 'hockey': 3}

## Latihan 5
***

The dictionary golds contains information about how many gold medals each country won in the 2016 Olympics. But today, Spain won 2 more gold medals. Update golds to reflect this information.

In [9]:
golds = {"Italy": 12, "USA": 33, "Brazil": 15, "China": 27,
         "Spain": 19, "Canada": 22, "Argentina": 8, "England": 29}

In [10]:
golds["Spain"] = 21
golds

{'Italy': 12,
 'USA': 33,
 'Brazil': 15,
 'China': 27,
 'Spain': 21,
 'Canada': 22,
 'Argentina': 8,
 'England': 29}

## Latihan 6
***

Create a list of the countries that are in the dictionary golds, and assign that list to the variable name countries. Do not hard code this.

In [11]:
golds = {"Italy": 12, "USA": 33, "Brazil": 15, "China": 27,
         "Spain": 19, "Canada": 22, "Argentina": 8, "England": 29}

In [13]:
countries = [key for key in golds.keys()]
countries

['Italy', 'USA', 'Brazil', 'China', 'Spain', 'Canada', 'Argentina', 'England']

## Latihan 7
***

Assign the number of elements in lst to the variable **num_lst**.

In [14]:
lst = ["hi", "goodbye", "python", "106", "506",
       91, ['all', 'Paul', 'Jackie', "UMSI", 1, "Stephen", 4.5], 109,
       "chair", "pizza", "wolverine", 2017, 3.92, 1817, "account", "readings",
       "papers", 12, "facebook", "twitter", 193.2,
       "snapchat", "leaders and the best", "social", "1986", 9, 29, "holiday",
       ["women", "olympics", "gold", "rio", 21, "2016", "men"], "26trombones"]

In [21]:
def flatten_list(items):
  if isinstance(items,(list, tuple)):
    return sum(flatten_list(item) for item in items)
  else:
    return 1

In [22]:
flatten_list(lst)

42

<h4><center><font color="1F4690">PJJ PENGOLAHAN DATA MENGGUNAKAN PYTHON <br> <br> Rabu, 15 Juni 2022</font></center></h4>
<div class="alert alert-info"><h1 align="center"><font color="1F4690">Latihan Siang Hari</font></h4></div>

## Latihan 1 :

Dictionary **Junior** menampung informasi jadwal untuk anak kuliah tahun ini. Keynya adalah naman mata pelajaran dan angka dibelakangnya adalah angka kredit. Temukan jumlah kredit yang diambil dan assignlah ke variabel **credits**.

In [24]:
Junior = {'SI 206':4, 'SI 310':4, 'BL 300':3, 'TO 313':3, 'BCOM 350':1, 'MO 300':3}

In [25]:
credits = sum(Junior.values())
credits

18

## Latihan 2 :

Buatlah suatu dictionary bernama **freq** yang isi dari keynya adalah alphabet yang ada dalam string itu dan nilainya adalah frekuensi kemunculan dari alphabet itu.

In [26]:
str1 = "peter piper picked a peck of pickled peppers"

In [27]:
freq = {key : str1.count(key) for key in str1}
freq

{'p': 9,
 'e': 8,
 't': 1,
 'r': 3,
 ' ': 7,
 'i': 3,
 'c': 3,
 'k': 3,
 'd': 2,
 'a': 1,
 'o': 1,
 'f': 1,
 'l': 1,
 's': 1}

## Latihan 3 :
Buatlah suatu dictionary bernama **wrd_d** dari string dibawah, dimana key nya adalah kata dan valuenya adalah berapa kali anda menemukan value tersebut di string tersebut.

In [29]:
sent = """Singing in the rain and playing in the rain
are two entirely different situations but both can be good"""

In [30]:
wrd_d = {key : sent.count(key)for key in sent.split()}
wrd_d

{'Singing': 1,
 'in': 7,
 'the': 2,
 'rain': 2,
 'and': 1,
 'playing': 1,
 'are': 1,
 'two': 1,
 'entirely': 1,
 'different': 1,
 'situations': 1,
 'but': 1,
 'both': 1,
 'can': 1,
 'be': 1,
 'good': 1}

## Latihan 4

Buatlah suatu dictionary bernama **letter_counts** yang menghitung frekuensi kemunculan dari suatu huruf di dalam string dan berapa kali huruf itu muncul. </br>

**Perhatian:**
Setiap huruf besar atau huruf kecil dalam alphabet yang sama harus dihitung sebagai huruf yang sama

In [31]:
string1 = """There is a tide in the affairs of men, Which taken at the flood,
leads on to fortune. Omitted, all the voyage of their life is bound in shallows
and in miseries. On such a full sea are we now afloat.
And we must take the current when it serves, or lose our ventures."""

In [39]:
letter_counts = {key : string1.lower().count(key) for key in string1.lower()}
letter_counts

{'t': 19,
 'h': 11,
 'e': 29,
 'r': 12,
 ' ': 52,
 'i': 14,
 's': 15,
 'a': 17,
 'd': 7,
 'n': 15,
 'f': 9,
 'o': 17,
 'm': 4,
 ',': 4,
 'w': 6,
 'c': 3,
 'k': 2,
 'l': 11,
 '\n': 3,
 'u': 8,
 '.': 4,
 'v': 3,
 'y': 1,
 'g': 1,
 'b': 1}